extends ../layout/layout.default.pug

block variables
	- var title = 'My Starter'
	- var prefix = FILE_PREFIX
	//- var extraCSS = [FILE_PREFIX+'css/carousel.css']
	- var imgPrefixUrl = IMG_PREFIX_URL

block content
	h1 Fast HTML JS SCSS on GitHub Pages